[Unit]
Description=code-server
After=network.target

[Service]
ExecStart=/opt/code-server/code-server ${CODE_OPTIONS}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple
User=${CODE_USER}

[Install]
WantedBy=multi-user.target
